# IDE files
.vscode
*.code-workspace

# Build environment files
.venv*

# Build files
*.pyc
/modules/manifest_lang/build

# Run output files
/core/*.log

# Special directories (for now)
/manifest
/cache
